---
import Section from "../Section.astro";

// Get translation data from Astro.locals
const translation = Astro.locals.translation;
const { summary } = translation.basics;
const { about } = translation.ui.sections;
---

<Section title={about}>
	<p>
		{summary}
	</p>
</Section>
