---
import { DEFAULT_LOCALE } from '@/utils/i18n';

// Redirect to default locale
const redirectUrl = `/${DEFAULT_LOCALE}`;
---

<meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
<script>
  window.location.href = '/es';
</script>

<html>
  <head>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/es">Spanish version</a>...</p>
  </body>
</html>
